* {
    margin: 0;
    padding: 0;
}

.navbar-header {
    padding: 20px;
}

a.navbar-brand {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
}

.top-navbar {
    width: 100%;
    background-color: #fff;
    margin-bottom: 0;
    border: 0;
}

.tel {
    text-align: right;
    padding-right: 40px;
    padding-top: 15px;

}

.tel span::before {
    margin-right: 5px;
    vertical-align: middle;
}



.nav-wrap {
    background-color: #195fbc;
}

#my-navbar {
    padding: 0;
}

#my-navbar ul {
    width: 100%;
}

#my-navbar>ul>li {
    width: 14.2%;
}

#my-navbar .nav li a {
    background-color: #195fbc;
    color: #ffffff;
    text-align: center;
    font-size: 16px;

}

#my-navbar .nav li a:hover {
    background-color: #e2bd15;
}


.dropdown-menu {
    background-color: #195fbc;
    border: none;
}

@media screen and (max-width:767px) {
    #my-navbar>ul>li {
        width: 100%;
    }

    #my-navbar .nav li a {
        text-align: left;
    }

    .dropdown-menu {
        padding: 0;
    }
}


.my-sidebar {
    padding: 10px;

}

.product-list {
    padding: 10px;
}

.my-sidebar ul {
    margin: 0;
    padding: 0;

}

.my-sidebar .sidebar-title {
    color: #fff;
    font-size: 22px;
    background-color: #195fbc;

    height: 70px;

    line-height: 70px;

    padding-left: 20px;
    margin-bottom: 2px;
}



.my-sidebar ul li {
    list-style-type: none;
    background-color: #f6f6f6;
    color: #666666;
    border-bottom: 1px solid #e1e1e1;
    padding: 15px;
    font-size: 16px;
}

.my-sidebar ul .li-title {
    background-color: #195fbc;
    color: #fff;
}

/* 公司优势 */
.advantage {
    padding-top: 20px;
    background-color: #f4f4f4;

}

.advantage .title {

    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #333333;

}

.advantage .title span {
    color: #d49e07;
}

.advantage .bordered {
    border: #006cba 3px solid;
}

.advantage .title p {
    color: #868181;
}



/* 新闻中心 */

.new-center .title h2 span {
    color: #d49e07;
}

.new-center .title h2 {
    text-align: center;
}

.new-center .title p {
    text-align: center;
    color: #868181;
}


.news-item {
    border: 1px #dddddd solid;
    padding: 0px;
}

.news-item-wraaper {
    padding: 20px;
}



.new-center .news-hd {
    border-left: #d49e07 solid 5px;
    border-bottom: 1px solid #dddddd;
    padding: 10px;
}

.new-center .news-hd h3 {
    padding-left: 10px;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

.new-center .news-hd h3 a {
    text-decoration: none;
    color: #4d4d4d;
}

.new-center .news-hd h3 span {
    display: block;
    float: right;
    font-size: 12px;
}

.new-center .news-hd h3 span a {
    color: #999;
}

.news-content li {
    height: 32px;
    line-height: 32px;
}

.news-content li span {
    color: #999;
    display: block;
    float: right;
    margin-right: 10px;
}

.news-content li a {
    margin-left: 10px;
    color: #4d4d4d;
}